spring:
  datasource:
    url: jdbc:h2:mem:siaas;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=true;INIT=CREATE SCHEMA IF NOT EXISTS AASSM001\;SET SCHEMA AASSM001
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        default_schema: AASSM001

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true